.map:hover {
	background-color: #CC0000 !important;
}

.heading768 {
	display: none;
}
.heading300 {
	display: none;
} 
a.creativeButton:hover {
	background-color: #332df7;
	color: white !important;
}

a.fitnessButton:hover {
	background-color: #f90101;
	color: white !important;
}

a.serviceButton:hover {
	background-color: #8e44ad;
	color: white !important;
}

a.nutritionButton:hover {
	background-color: #349c09;
	color: white !important;
}

.pButton:hover {
	background-color: red !important;
	color: white !important;
}

.singlePad {
	display: flex;
}

.homeSingleInsta {
	width: 60%;
	margin: 0 auto;
	border-radius: 10px;
}

.homeNewsletterLink {
	margin-bottom: 20px;
}

.homeMonthlyNewsletter {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	opacity: 1.0;
	height: 450px;
	background-color: #467EFF;
}

.homeMonthlyNewsletter:hover {
	opacity: 0.9;
	cursor: pointer;
}

.homeMonth {
	font-size: 2em;
	margin: 0px !important;
}

.homeEachOne {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.homeNewsletterPhoto {
	width: 60%;
	margin: 0 auto;
}

.homeInsta {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 450px;
	background-color: #FF3939;
}

.homeInsta:hover {
	cursor: pointer;
	background-color: #FF6464;
}

.homeInstaTitle {
	align-self: center;
	font-size: 2em;
	color: white;
	margin-top: 10px;
}

.instaNewsBar {
	height: 470px;
}




@media (max-width: 992px) {
	.instaNewsBar {
		height: 400px !important;
	}
	.homeInsta {
		height: 400px !important;
	}
	.homeMonthlyNewsletter {
		height: 400px !important;
	}
}

@media (max-width: 880px) {
	.instaNewsBar {
		height: 350px !important;
	}
	.homeInsta {
		height: 350px !important;
	}
	.homeMonthlyNewsletter {
		height: 350px !important;
	}
	.pEA {
		height: 300px !important;
	}
	.homeMonth {
		font-size: 1.7em !important;
	}
	.homeInstaTitle {
		font-size: 1.7em !important;
	}
}


@media (max-width: 768px){

	.mountain {
		background: linear-gradient(
	      rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(../components/photodump/mountainCROP768.jpeg) top center no-repeat !important;
		height: 310px !important;
		justify-content: flex-start !important;
	}
	.heading {
		display: none;
	}
	.heading768 {
		display: inline-flex !important;
	}	
	.pEA {
		height: 450px !important;
		margin: 20px 0 !important;
	}
	.triad {
		margin: 10px 0 !important;
	}
	.pTitles {
		font-size: 24px !important;
	}
	.pDesc {
		font-size: 16px !important;
	}
	.quadCard {
		padding: 0px 0px !important;
	}
	.quadPillarsFitness {
		height: 290px !important;
	}
	.quadPillarLast {
		margin-bottom: 20px;
	}
	.qTitile {
		font-size: 24px !important;
	}
	.qDesc {
		font-size: 16px !important;
	}
	.pillarIcon {
		height: 60px !important;
		width: 60px !important;
	}
	.donateWords {
		font-size: 24px !important;
		padding-bottom: 10px;
	}
	.instaNewsBar {
		height: 760px !important;
	}
	.homeSingleInsta {
		width: 40% !important;
	}
	.homeNewsletterPhoto {
		width: 40% !important;
	}
	.homeMonthlyNewsletter {
		height: 380px !important;
	}
}

@media (max-width: 700px){
	.slcMap {
		font-size: 2em !important;
	}
	.map {
		padding: 5px 15px !important;
	}
}

@media (max-width: 670px) {
	.pEA {
		height: 500px !important;
	}
}

@media (max-width: 540px){
	.slcMap {
		font-size: 1.5em !important;
	}
	.map {
		padding: 5px 10px !important;
	}
	.donateWords {
		font-size: 20px !important;
	}
	.homeSingleInsta {
		width: 50% !important;
	}
	.homeNewsletterPhoto {
		width: 50% !important;
	}
	.homeMonthlyNewsletter {
		height: 350px !important;
	}
}

@media (max-width: 446px){
.donateWords {
		font-size: 18px !important;
	}
}

@media (max-width: 430px) {
	.fourTitle {
		font-size: 24px !important;
	}
}

@media (max-width: 415px){
	.slcMap {
		font-size: 1.3em !important;
	}
	.map {
		padding: 3px 8px !important;
	}
	.heading768 {
		display: none !important;
	}	
	.heading300 {
		display: inline-flex;
	}
}

@media (max-width: 401px){
	.donateWords {
		font-size: 16px !important;
	}
	.homeInsta {
		height: 270px !important;
	}
	.homeMonthlyNewsletter {
		height: 270px !important;
	}
	.instaNewsBar {
		height: 580px !important;
	}
}