.nutritionTopPhoto {
	background: url('../components/photodump/tableFood450.jpeg') center no-repeat;
	height: 440px;
	display: flex;
	width: 100%;
}

.nourishingRecovery {
	height: 150px;
	display: flex;
	flex-flow: column;
	justify-content: space-around;
	align-items: center;
	padding-bottom: 10px;
	text-align: center;
	background: #00A65E;
	color: #FAFAFA;
}

.program {
	height: 325px;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	border: 1px solid red;
	margin: 5px 0;
	padding: 0 20px;
}

.programWordsh2,.programWordsh3 {
	width: 85%;
	font-weight: 300;
	text-align: center;
}

.programWordsh2 {
	font-size: 30px;
	line-height: 1;
}

.programWordsh3 {
	font-size: 24px;
}

.blogTitle {
	text-align: center;
	font-size: 24px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.singlePostEntire {
	padding: 25px 0 !important;
	display: flex !important;
}

.singlePostEntire:hover {
	cursor: pointer;
	background-color: #BFF4B4 !important;
	border-radius: 5px !important;
}

.singlePostContent {
	width: 284px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.blogPic{
	flex: 1 1 25% !important;
}
.blogContent {
	flex: 1 1 75% !important;
	align-self: center;
	color: white;
}

.bottomWords {
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.bottomWords {
	font-size: 16px;
	text-align: center;
	padding: 0 30px;
}

.classCard {
	height: 560px !important;
	width: 45% !important;
	display: inline-flex !important;
	justify-content: center !important;
	align-items: center !important;
	margin: 20px !important;
}

.cardsColumn {
	width: 80%;
}

.nutritionClassLink {
	height: 60px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #00A65E;
	background-color: white;
	color: #00A65E !important;
	text-align: center;
	font-size: 24px;
}

.nutritionClassLink:hover {
	color: white !important;
	background-color: #00A65E;
	cursor: pointer;
}

.nutritionBottom {
	display: flex;
  height: 150px;
  justify-content: center;
  align-items: center;
	background-color: #96C546;
}

.nutritionBottomWords{
	color: white;
	font-size: 20px;
	width: 80%;
	text-align: center;
}

.nutritionBottomEmail {
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #F88279;
}

.nutritionBottomEmailWords {
	color: white;
	font-size: 20px;
	text-align: center;
	margin: 0 35px;
}

.commentGroup {
	border-radius: 20px;
	background-color: #00A65E; 
	padding: 14px; 
	height: 95%;
	margin: 5px;
	width: 105%;
}

.postAlignCenter {
	color: white !important;
}


@media (max-width: 1200px) {
	.nutritionTopPhoto {
	background: url('../components/photodump/tableFood400.jpeg') center no-repeat;
	}
}

@media (max-width: 1165px) {
	.classCard {
		margin: 20px 2% !important;
		display: inline-flex !important;
	}
	.nutritionCardPhoto {
		width: 80% !important;
	}
	.commentGroup {
		border-radius: 20px;
		background-color: #99E889; 
		padding: 14px; 
		margin: 5px !important;
		width: 105% !important;
	}
}

@media (max-width: 1050px) {
	.nutritionTopPhoto {
	background: url('../components/photodump/tableFood350.jpeg') center no-repeat;
	height: 370px;
	}
}

@media (max-width: 992px) {
	.classCard {
		width: 96% !important;
	}
	.commentGroup {
		height: 60% !important;
	}
}

@media (max-width: 960px) {
	.programWordsh2,.programWordsh3 {
		width: 90%;
		font-weight: 300;
		text-align: center;
	}
}

@media (max-width: 950px) {
	.nutritionTopPhoto {
	background: url('../components/photodump/tableFood300.jpeg') center no-repeat;
	height: 310px;
	}
	.commentGroup {
		height: 57%;
		margin: 5px;
		width: 105%;
	}
}

@media (max-width: 800px) {
	.nutritionTopPhoto {
	background: url('../components/photodump/tableFood250.jpeg') center no-repeat;
	height: 260px;
	}
}

@media (max-width: 785px) {
	.programWordsh2 {
		font-size: 20px;
	}
}

@media (max-width: 768px) {
	.nourishingRecovery {
		height: 80px !important;
	}
	.programWordsh2 {
		font-size: 18px;
	}
	.programWordsh3 {
		display: none;
	}
	.cardsColumn {
		width: 100%;
	}
	.commentGroup {
		height: 98% !important;
		margin: 5px auto !important;
		width: 70% !important;
	}
	.nutritionBottomWords {
		font-size: 16px
	}
}

@media (max-width: 705px) {
	.nutritionBottomEmailWords {
		font-size: 14px !important;
	}
}

@media (max-width: 670px) {
	.nutritionTopPhoto {
	background: url('../components/photodump/tableFood200.jpeg') center no-repeat;
	height: 210px;
	}
}

@media (max-width: 530px) {
	.nutritionTopPhoto {
	background: url('../components/photodump/tableFood150.jpeg') center no-repeat;
	height: 160px;
	}
	.nutritionBottomEmailWords {
		font-size: 12px !important;
	}
	.postAlignCenter{
		width: 100%;
		text-align: center;
	}
}

@media (max-width: 470px) {
	.commentGroup {
		width: 95% !important;
	}
}

@media (max-width: 450px) {
	.nutritionBottomWords {
		font-size: 13px !important;
	}
	.nutritionBottom {
		height: 100px !important;
	}
}

@media (max-width: 400px) {
	.nutritionTopPhoto {
	background: url('../components/photodump/tableFood125.jpeg') center no-repeat;
	height: 130px;
	}
	.nutritionBottomWords {
		font-size: 11px !important;
	}
}





